<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Спасём Бутовский лес от незаконной вырубки!{% endblock %}</title>
        <meta name="description" content="Зелёный щит Москвы под угрозой исчезновения вопреки требованию Президента РФ. Незаконная вырубка Бутовского леса. Мошенники захватили лес с целью вырубить деревья на территории лесхоза.">
        <meta name="Keywords" content="Бутовский лес, вырубка, мошенники, захват, деревья, Зелёный щит">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "Forest-Butovo",
                "url": "https://forest-butovo.ru",
                "logo": "https://forest-butovo.ru/images/og_img.jpg",
                "sameAs": [
                    "https://www.instagram.com/p/CQ3f-mUtxRv/?utm_medium=copy_link",
                    "https://www.tiktok.com/@forest_butovo?"
                ],
                "contactPoint": [
                    { "@type": "ContactPoint",
                        "email": "support@forest-butovo.ru",
                        "contactType": "Technical support"
                    }
                ]
            }
        </script>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://forest-butovo.ru">
        <meta property="og:title" content="Зелёный щит Москвы под угрозой исчезновения вопреки требованию Президента РФ.">
        <meta property="og:description" content="Незаконная вырубка Бутовского леса мошенниками в обход законодательства РФ">
        <meta property="og:image" content="https://forest-butovo.ru/images/og_img.jpg">
        <meta property="og:site_name" content="Бутовский лес">
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(82513627, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/82513627" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>
