<section class="capture">
    <h2 id="capture" class="h2 capture__h2">ЗАХВАТ ЛЕСА</h2>
    <div class="capture__block">
        <div class="youtube-frame">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/r66_h_RX-lU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="text">Жилые Комплексы (Бутово-Парк 1, Бутово-Парк 2, Южная Битца, Государев Дом, Восточное Бутово и Видный Город) граничат с землями государственного лесного фонда, которые на данный момент активно превращаются в частную собственность.</p>
        <p class="text">То что лес – относится к государственному лесному фонду подтверждается ответом от Подольского лесничества и выписками из государственного лесного реестра.</p>
        <div class="capture__list">
            <div class="capture__list_img">
                <img class="responsive-img" src="{{ asset('images/list.jpg') }}" alt="">
            </div>
            <div class="capture__list_text">
                <p class="text">Группа предприимчивых граждан скупила ПАИ у бывших работников колхоза и инициировала судебный процесс, про признанию своих прав на ПАИ. И стала заниматься оформлением паев в отдельные участки. После чего мы увидели на карте размежеванный лес и листовки с предупреждением, что это частная территория.</p>
                <p class="text"><i>Небольшой комментарий, что же такое ПАЙ?</i></p>
                <p class="text">Ранее на территории ЛГО существовали колхозы им. Ленинна и им. Горького. Часть земель с/х назначения находилась в собственности колхозов и использовалась для их нужд. Другая часть земель с/х назначения предоставлялась работникам этих колхозов. Вот то, что предоставлялось работникам – и есть ПАЙ.</p>
                <p class="text">Паевые земли оного колхоза – один огромный многоконтурный участок, находящийся в долевой собственности пайщиков. Раньше учет недвижимости осуществлялся немного не так как сейчас. Составлялись землеустроительные дела на территорию каждого колхоза. В состав таких зем дел обязательно входил картографический материал (карты, планы), подтверждающие месторасположение участков. Четкого местоположения конкретного пая не было , но контура земельного участка из которого можно выделить этот пай – однозначно были. </p>
                <p class="text">С течением времени изменилось законодательство и стало возможно провести кадастровые работы по выделу земельного участка (пая) из земельного участка долевой собственности.</p>
                <p class="text">Так как закон обратной силы не имеет, то при выдели своего пая, человек должен руководствоваться  зем. делами, чтобы выделять участок не там, где он захочет, а там, где эти участки были сформированы изначально. В нашем случае, по материалам зем. дел, наш лес <span class="highlight__red">НИКОГДА</span> не относился ни к каким колхозам.</p>
                <span class="highlight__extra">СХЕМА МОШЕННИКОВ ЗАХВАТА БУТОВСКОГО ЛЕСА !!!</span>
                <p class="text">Вернёмся к нашим мошенникам. Они обратились в суд. В исковом требовании они просили признать право на паи, то есть на землю с/х. В результативной части судья признает их право на участки и назначает каждому участку вид разрешенного использования и категорию, что абсолютно <span class="highlight__red">НЕ СООТВЕТСТВУЕТ</span> земельному законодательству.</p>
                <p class="text">Единственное,  чем руководствовались эти люди при формировании участков – это собственная  выгода.</p>
                <p class="text">Они <span class="highlight__red">НЕ ИМЕЛИ</span> права формировать участки на землях государственного лесного фонда. НЕ ИМЕЛИ права присваивать им категорию земель – земли населенных пунктов. Виды разрешенного использования обязательно должны соответствовать утвержденным на территории ЛГО правилам землепользования и застройки, по которым наш лес – относится к зоне леса. И вид разрешенного использования здесь у участков может быть только ЛЕС.</p>
                <br>
                <div class="youtube-frame">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/COhm25VFINU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="text text-center">Россия 1 (Вести-Москва) о вырубке леса рядом с районом Бутово-Парк</p>
                <br>
                <p class="text"><strong>Что же мы видим далее?!</strong></p>
                <p class="text">Участки у наших мошенников уже сформированы, но лесничество еще считает это своей землей и может инициировать судебный процесс по возвращению земель в состав лесного фонда.</p>
                <p class="text">Именно поэтому эти товарищи  и хотят провести  лесную амнистию (280 ФЗ РФ) (далее ЛА) Так как материалы лесоустройства и материалы землеустройства осуществлялись разными ведомствами и в разное время – они между собой зачастую не стыкуются. Что означает,что есть такие участки земли, которые местная Администрация считала своей, а лесничества – своей.</p>
                <p class="text">Администрация, думая, что распоряжается подконтрольной ей территорией, предоставляла такие земли в собственность граждан.</p>
                <p class="text">А после оказывалось, что и лесничество тоже считает эту землю своей. Чтобы не было двойного учета одного кусочка земли – придумали ЛА. То есть человек, попавший в такую ситуацию приходит в Рослесхоз, показывает свои документы, говорит,что уже 10-20-30 лет живет на этой земле и в этом случае рослесхоз принимает решение о выведении участков из состава земель лесного фонда по ЛА.</p>
                <span class="highlight__extra">РОСЛЕСХОЗ НЕ СЧИТАЕТ БУТОВСКИЙ ЛЕС - ЛЕСОМ !!!</span>
                <p class="text">Рослесхоз признает, что тут уже давно не лес. Для того, чтобы рослесхоз это признал участок должен фактически использоваться не как лес и иметь правоустанавливающие документы, выданные до 2016 г., на чем и пытаются сыграть мошенники.</p>
                <p class="text">Так как право первичного владельца на пай возникло еще в девяностые, то мошенники, опираясь на этот факт выводят участки из лесного фонда. Но ключевой момент в том, что здесь никогда не было паевых земель колхозов. <strong class="highlight__red">А значит вся схема незаконна</strong> !!!</p>
            </div>
            <div class="flex__block">
                <p class="text">На данной схеме пример территории, которая «смежная» и ее можно отнести к ЛА.</p>
                <div><img class="responsive-img" src="{{ asset('images/schema.jpg') }}" alt=""></div>
            </div>
            <p class="text">На публичной карте отображены размежеванные земли</p>
        </div>
    </div>
    <script type="text/javascript" defer>
        document.addEventListener('DOMContentLoaded', () => {
            // создаём элемент <div>, который будем перемещать вместе с указателем мыши пользователя
            let mapTitle = document.createElement('div');
            mapTitle.className = 'mapTitle';
            // вписываем нужный нам текст внутрь элемента
            mapTitle.textContent = 'Для активации карты нажмите по ней';
            // добавляем элемент с подсказкой последним элементов внутрь нашего <div> с id wrapMap
            wrapMap.appendChild(mapTitle);
            // по клику на карту
            wrapMap.onclick = function() {
                // убираем атрибут "style", в котором прописано свойство "pointer-events"
                this.children[0].removeAttribute('style');
                // удаляем элемент с интерактивной подсказкой
                mapTitle.parentElement.removeChild(mapTitle);
            }
            // по движению мыши в области карты
            wrapMap.onmousemove = function(event) {
                // показываем подсказку
                mapTitle.style.display = 'block';
                // двигаем подсказку по области карты вместе с мышкой пользователя
                if(event.offsetY > 10) mapTitle.style.top = event.offsetY + 20 + 'px';
                if(event.offsetX > 10) mapTitle.style.left = event.offsetX + 20 + 'px';
            }
            // при уходе указателя мыши с области карты
            wrapMap.onmouseleave = function() {
                // прячем подсказку
                mapTitle.style.display = 'none';
            }
        });
    </script>
    <style>
        #wrapMap {
            position: relative;
            cursor: help;
            overflow: hidden;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
        }
        .mapTitle {
            position: absolute;
            z-index: 1000;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
            display: none;
            padding: 5px 20px;
            border-radius: 5px;
            background: rgb(255, 255, 255);
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
        }
    </style>
    <div class="flex__block">
        <div id="wrapMap" class="forest-map__cad">
            <iframe style="pointer-events: none;" id="iframe" src="https://egrp365.ru/map/?x=55.54912194174424&y=37.596307287822&zoom=15&layer=2&menu=0" allowfullscreen="" frameborder="0" width="100%" height="500"></iframe>
        </div>
    </div>
</section>
<div style="clear: left"></div>