<section>
    <h2 class="h2 cutting__h2" id="cutting">Вырубка</h2>
    <div style="max-width:320px; margin:0 auto; display: flex; justify-content: center;">
        <video width="auto" height="500" controls>
            <source src="{{ asset('video/video_zeleniy_schild.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="cutting">
        <p class="text">В марте началась незаконная вырубка участка, расположенного у Расторгуевского шоссе (примерно в 100 метрах от дома №21 в сторону Видного)
            кадастровый номер <a target="_blank" href="https://www.gosbti.ru/?nomer=50%3A21%3A0030210%3A11143">50:21:0030210:11143</a>. Валка леса производилась ночью,
            по глубокому снегу, неизвестными людьми. На это обратили внимание  местные жители из поселка Леспаркхоз.
            После вызова участкового рубщики исчезли, бросив поваленные деревья, которые до сих пор находятся  там. Нарушитель так и не найден.</p>
        <p class="text">В конце апреля началась вырубка на соседнем участке (которые ближе к дому 21 и сейчас находится за забором), кадастровый
            номер <a target="_blank" href="https://www.gosbti.ru/?nomer=50%3A21%3A0030210%3A11156">50:21:0030210:11156</a>. Здесь уже подключились жители Бутово-Парк.
            Однако, вызванный участковый, и человек, который назвался представителем  собственника, заявил, что участок находится в частной собственности,
            все документы в порядке, и даже получен официальный порубочный билет на  вырубку леса на этом участке. Документы были продемонстрированы
            и сейчас находятся на информационном стенде на том же заборе. Однако после поднятого шума администрация Ленинского городского округа 30.04.21
            отозвала порубочный билет на участок, что, однако, уже не имело никакого смысла, так как на всем участке осталось не срубленным только одно (1) дерево.
            К шоку и удивлению местных жителей, кадастровая карта подтвердила эти слова, практически весь лес, примыкающий к ЖК Бутово-Парк с северной стороны,
            по данным карты, оказался размежеван и находится в частной собственности (всего примерно 50 участков, общей площадью около 70  Гектар, или 7000 соток).</p>
        <p class="map"><a class="highlight__red" target="_blank" href="https://pkk.rosreestr.ru/#/search/55.548619481406575,37.601010754373746/16/@5w3tqxnjb">Смотрите на кадастровую карту</a></p>
        <div class="cutting__descr">
            <div class="cutting__descr_img"><img class="responsive-img" src="{{ asset('images/virubka.jpg') }}" alt=""></div>
            <p class="text">Активное межевание началось около 2 лет назад и проводилось до марта 2021 года. Для оформления в частную собственность используется мошенническая схема с выделение в натуре паев колхозов, которых давно не существует, и земли которых никогда не имели отношения к нашему лесу.</p>
            <p class="text">По данным государственного лесного реестра все эти земли продолжают оставаться в лесном фонде, таким образом, оставаясь федеральной собственностью (Подольское лесничество, Бутовское участковое лесничество, кварталы 16, 24, 25).</p>
            <p class="text">В ночь на 16 мая в 2021 году в лесу появились листовки, уведомляющие что это частная территория и собственник имеет право ограничить на нее доступ.
                20 мая каналом Россия 1 (Вести-Москва) был снят сюжет о проблеме с нашим лесом.</p>
            <p class="text">Тогда же, 20 мая, был начат сбор подписей под коллективным обращением жителей к Президенту РФ по данной проблеме.
                Сейчас ведется работа по документальному установлению всех этапов мошенничества и передаче материалов в Администрацию Президента, Генпрокуратуру, Рослехоз, ФСБ,
                Следственный комитет и в другие адреса, где могут (и должны) заинтересоваться этой проблемой.</p>
            <p class="text">В телеграмм чате <a target="_blank" href="https://t.me/forest_butovo">Бутовский лес</a> ведется оперативное информирование жителей о работе над этой проблемой,
                о предстоящих встречах и мероприятиях. Также в закрепленных сообщениях присутствует образец обращения в госорганы и адреса,
                куда мы просим отправить обращение всех, кому небезразлична судьба леса.</p>
        </div>
    </div>
</section>
<div style="clear: left"></div>