<footer>
    <div class="footer">
        <ul>
            <li><a href="#history">ИСТОРИЯ</a></li>
            <li><a href="#capture">ЗАХВАТ</a></li>
            <li><a href="#cutting">ВЫРУБКА</a></li>
            <li><a href="#documents">ДОКУМЕНТЫ</a></li>
            <li><a href="#social">СОЦ.СЕТИ</a></li>
        </ul>
    </div>
</footer>