<footer>
    <div class="footer">
        <ul>
            <li><a href="#history" title="История Бутовского леса">ИСТОРИЯ</a></li>
            <li><a href="#capture" title="Захват">ЗАХВАТ</a></li>
            <li><a href="#cutting" title="Вырубка">ВЫРУБКА</a></li>
            <li><a href="#documents" title="Документы">ДОКУМЕНТЫ</a></li>
            <li><a href="#social" title="Социальные сети">КОНТАКТЫ</a></li>
        </ul>
    </div>
</footer>