<section class="history">
    <h2 id="history" class="h2 history__h2">ИСТОРИЯ ЛЕСА</h2>
    <div class="history__block">
        <img class="responsive-img order_0" src="{{ asset('images/forest_1.jpg') }}" alt="">
        <div class="history__content history__content_bg_flower order_1">
            <h3 class="title history__title">ЗАРОЖДЕНИЕ</h3>
            <p class="text">Бутовский лесопарк — лесопарк в Москве и Московской области. Расположен на территории Ленинского района Московской области. Создан в 1935 году, ранее Бутовский лес относился к Гослесфонду СССР.</p>
        </div>

        <div class="history__content history__content_bg_elka order_3">
            <h3 class="title history__title">РАСТИТЕЛЬНОСТЬ</h3>
            <p class="text">Преобладают широколиственные деревья (берёза, дуб, липа, а также привезённые груша лесная, яблоня лесная), но также и много хвойных (сосна, а также привезённые из другой местности, такие как лиственница даурская, лиственница сибирская). Средний возраст деревьев составляет шестьдесят лет. Встречаются и двухсотлетние дубы.</p>
        </div>
        <img class="responsive-img order_2" src="{{ asset('images/forest_2.jpg') }}" alt="">

        <img class="responsive-img order_4" src="{{ asset('images/forest_3.jpg') }}" alt="">
        <div class="history__content history__content_bg_bird order_5">
            <h3 class="title history__title">ЖИВОТНЫЙ МИР</h3>
            <p class="text">В бутовском лесу отмечены 133 вида наземных позвоночных животных, в том числе 28 видов млекопитающих, 96 видов птиц, из которых 86 здесь же и гнездятся, 6 видов земноводных и 3 вида пресмыкающихся. Среди птиц можно встретить соловья и ястреба.</p>
        </div>
    </div>
</section>