<div class="container">
    <h1>Соглашение на обработку персональных данных</h1>
    <h2>1. Для целей настоящего Соглашения используются следующие термины:</h2>
    <p>Cайт – информационный ресурс по адресу https://forest-butovo.ru/ в информационно-телекоммуникационной сети «Интернет».</p>
    <p>пользователь сайта – лицо, осуществляющее пользование сайтом, обладатель персональных данных;</p>
    <p>Все формы на сайте, выполненная с использованием языков программирования, а также языков разметки документов в информационно-телекоммуникационной сети «Интернет», которая служит для передачи информации и персональных данных от Пользователя к Обработчику персональных данных.</p>
    <h2>2. Оставляя свои данные на сайте, путем использования любой формы, пользователь:</h2>
    <p>принимает условия настоящего Соглашения;</p>
    <p>признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных им прочитаны и ему понятны;</p>
    <p>подтверждает, что указанные им персональные данные принадлежат лично ему;</p>
    <p>дает согласие на передачу предоставленных им персональных данных третим лицам;</p>
    <p>дает согласие на обработку предоставляемых персональных данных в целях совершения активистами по защите лБутовского леса звонков на указанный номер телефона;</p>
    <p>выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.</p>
    <h2>3. Настоящее согласие пользователя применяется в отношении обработки следующих персональных данных: </h2>
    <p>имя;</p>
    <p>номер телефона;</p>
    <p>Email;</p>
    <p>иные персональные данные, указанные пользователем.</p>
    <h2>4. Пользователь, предоставляет обработчику персональных данных право осуществлять следующие действия (операции) с персональными данными:</h2>
    <p>сбор и накопление;</p>
    <p>хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования сайтом;</p>
    <p>уточнение (обновление, изменение);</p>
    <p>уничтожение;</p>
    <p>использование сотрудниками обработчика персональных данных в целях совершения звонка на указанный номер телефона, совершения коммерческих предложений по предоставлению юридических услуг.</p>
    <h2>5. Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано пользователем путем подачи заявления обработчику персональных данных.</h2>
    <p>Отзыв согласия на обработку персональных данных может быть осуществлен путем направления пользователем соответствующего заявления в простой письменной форме.</p>
    <h2>6. Обработчик персональных данных имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.</h2>
    <p>Действующая редакция всегда находится на странице сайта по адресу: <a href="https://forest-butovo.ru/privacy-policy">https://forest-butovo.ru/privacy-policy</a></p>
    <h2>7. К настоящему Соглашению и отношениям между пользователем и обработчиком персональных данных, возникающим в связи с применением Соглашения, подлежит применению материальное и процессуальное право Российской Федерации.</h2>
    <br>
    <p>Дата: 22 июля 2021 год</p>
</div>