<section class="social">
    <h2 class="h2 social__h2" id="social">Социальные сети</h2>
    <div class="social__blocks">
        <div class="social__blocks_item">
            <a target="_blank" href="https://www.instagram.com/p/CQ3f-mUtxRv/?utm_medium=copy_link">
                Instagram
                <br>
                <br>
                <img class="telegram" src="{{ asset('icons/instagram.svg') }}" alt="telegram">
            </a>
        </div>
        <div class="social__blocks_item">
            <a target="_blank" href="https://www.tiktok.com/@forest_butovo">
                TikTok
                <br>
                <br>
                <img class="telegram" src="{{ asset('icons/tiktok.svg') }}" alt="telegram">
            </a>
        </div>
        <div class="social__blocks_item">
            <a target="_blank" href="https://t.me/forest_butovo">
                Telegram
                <br>
                <br>
                <img class="telegram" src="{{ asset('icons/telegram.svg') }}" alt="telegram">
            </a>
        </div>
    </div>
</section>